{% extends 'base.html.twig' %}

{% block title %}Se connecter | {{ parent() }}{% endblock %}

{% block body %}
    <form method="post">
        <h2>Connexion</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Je suis déjà connectée ! -> {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <ol>
            <li>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </li>
            <li>
                <label for="inputPassword">MDP</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </li>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
            <li>
                <label class="checkbox" for="rememberMe">Se souvenir de moi</label>
                <input class="checkboxInput" type="checkbox" id="rememberMe" name="_remember_me">
            </li>
            <li class="form-group">
                <button class="btn first" type="submit">
                    Se connecter
                </button>
            </li>
        </ol>
    </form>
{% endblock %}
