{% if app.user %}
    <a href="{{ path('admin_message_index') }}">Mes messages</a>
    <a href="{{ path('project_index') }}">Mes projets</a>
{% else %}
    <a href="{{ path('home_index') }}">CV</a>
        {% for portfolio in portfolios.portfolios %}
            <a href="{{ path('home_portfolio', {'project': portfolio.id } ) }}">{{ portfolio.title }}</a>
        {% endfor %}
    <a href="{{ path('home_contact') }}">Contact</a>
{% endif %}