{% extends 'base.html.twig' %}

{% block title %}Contact | {{ parent() }} {% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}


{% block body %}

{{ form_start(contactForm) }}
    <h2>Me contacter</h2>
    <ol>
        <li>
            {{ form_label(contactForm.firstname, 'Prénom') }}
            {{ form_errors(contactForm.firstname) }}
            {{ form_widget(contactForm.firstname) }}
        </li>
        <li>
            {{ form_label(contactForm.lastname, 'Nom') }}
            {{ form_errors(contactForm.lastname) }}
            {{ form_widget(contactForm.lastname) }}
        </li>
        <li>
            {{ form_label(contactForm.email, 'Email') }}
            {{ form_errors(contactForm.email) }}
            {{ form_widget(contactForm.email) }}
        </li>
        <li>
            {{ form_label(contactForm.message, 'Message') }}
            {{ form_errors(contactForm.message) }}
            {{ form_widget(contactForm.message) }}
        </li>
        <div class="form-group g-recaptcha" data-sitekey="6LdNyUgaAAAAAAOFqTtMrIe4ZOqIRwZGn4Yhc8cx"></div>
        <li class="form-group">
            <button class="btn">{{ button_label|default('Envoyer') }}</button>
        </li>
    </ol>
{{ form_end(contactForm) }}

{% endblock %}