{% extends 'base.html.twig' %}

{% block title %} 
    {{ project.title }} | {{ parent() }}
{% endblock %}

{% block body %}

    <h4>{{ project.title }}</h4>
    <a href="{{ project.link }}">Voir sur GitHub</a>
    <img src=""></img>
    <small>{{ project.addDate|date("d.m.Y") }}</small>
    {{ project.text|raw }}

{% endblock %}
