{% extends 'base.html.twig' %}

{% block title %} 
    {{ project.title }} | {{ parent() }}
{% endblock %}

{% block body %}

    <h4>{{ project.title }}</h4>
    <div>
        <a href="{{ project.link }}">Voir sur GitHub</a>
    </div>
    <div>
        <small>{{ project.addDate|date("d.m.Y") }}</small>
    </div>
    <div class="project">
        <img width="100%" src="{{ asset('build/') }}{{ project.image }}"></img>
        {{ project.text|raw }}
    </div>

{% endblock %}
