{% extends 'base.html.twig' %}

{% block title %}Message index | {{ parent() }}{% endblock %}

{% block body %}
    <h4>Mes messages</h4>
    <div class="form-style">
        {% for message in messages %}
            <h4>{{ message.firstname ~ ' ' ~ message.lastname }}</h4>
            <small>{{ message.email }}</small>
            <p>{{ message.message }}</p>
            <div class="flex-center">
                {{ include('message/_delete_form.html.twig') }}
                <a class="btn first" href="{{ path('admin_send_email', {'message': message.id }) }}">Répondre</a>
            </div>
        {% else %}
            <p>Il n'y a pas de messages</p>
        {% endfor %}
    </div>

{% endblock %}
