{% extends 'base.html.twig' %}

{% block title %}Mes projets | {{ parent() }}{% endblock %}

{% block body %}
    <h4>Mes projets</h4>
    <div class="form-group">
        <a class="btn first" href="{{ path('project_new') }}">Ajouter un projet</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Date d'ajout</th>
                <th>Titre</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.addDate ? project.addDate|date('d-m-Y') : '' }}</td>
                <td>{{ project.title }}</td>
                <td>
                    <a class="btn first" href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
